@import "tailwindcss";
@import "../styles/index";

body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

@theme {
  --shadow-rgba_0.3: 0 0 12px rgba(0, 0, 0, 0.3);
  --shadow-rgba_0.8: 0 0 12px rgba(242, 100, 18, 0.8);

  --animate-loading: loading 1.2s ease-in-out infinite;

  @keyframes loading {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-4px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
